# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Paraview
*.vts
*.vtp
*.vtu
*.pvd
*.vtk

# Files from macOS
*.DS_Store
.DS_Store
.DS_Store?

# Log files
*.log
examples/*.txt
*.csv
*.err

# Include cmake files
!CMakeLists.txt
!examples/CMakeLists.txt
